@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

.conteiner {
    width: 1440px;
    margin: 0 auto;
}

/* section 1 */

.main {
    height: 747px;
    padding-left: 100px;
    padding-right: 103px;
    background-color: #F9F6F5;
}

nav {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_content1 {
    width: 128px;
    height: 30px;
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #222222;
    margin: 0 0;
}

.nav_content2 {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.nav_text {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    color: #222222;
}

#buy {
    margin: 0 24px;
}

.main {
    position: relative;
}

.main>.liquid_soup {
    width: 796px;
    height: 609px;
    position: absolute;
    z-index: 0;
    bottom: 0px;
    right: 0px;
}

.liquid_soup {
    position: relative;
    background: url(images/Cosmetic.png) center center/cover no-repeat;
}

.liquid_soup>.box {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 145px;
    height: 138px;
    background-color: #F9F6F5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.liquid_soup>.box>img {
    display: block;
    height: 40px;
    width: 40px;
}

.main_text {
    width: 621px;
    height: 140px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 70px;
    color: #000000;
    margin-top: 68px;
    position: relative;
    z-index: 2;
}

.main_description {
    width: 516px;
    height: 96px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
    margin-top: 30px;
}

.search {
    width: 326px;
    height: 48px;
    background: #FFFFFF;
    padding-left: 16px;
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 30px;
}

.search_text {
    width: 52px;
    height: 20px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
}

.search>.search_img>.box {
    background: #402F2C;
    width: 32px;
    height: 32px;
    padding-top: 7px;
}

.search>.search_img>.box>img {
    display: block;
    margin: 0 auto;
}

.content>button, #shop {
    width: 148px;
    height: 56px;
    background: #402F2C;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 60px;
}

#shop {
    margin-top: 50px;
}

/* section 1 */
/* section 2 */

.popular {
    height: 1540px;
}

.pseudo_element {
    width: 1172px;
    border: 1px solid #EEEEEE;
    margin: 0 auto;
}

.pe1 {
    margin-top: 130px;
}

.pe2 {
    margin-bottom: 130px;
}

.logotypes {
    padding: 0 134px;
    height: 113px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotypes>img {
    display: block;
}

.airbnb {
    width: 90px;
    height: 28px;
}

.hubSpot {
    width: 84px;
    height: 24px;
}

.google {
    width: 84px;
    height: 28px;
}

.microsoft {
    width: 122px;
    height: 26px;
}

.walmart {
    width: 111px;
    height: 26px;
}

.fedEx {
    width: 80px;
    height: 24px;
}

.product_head {
    font-family: 'Red Hat Display';
    font-style: normal;
    padding-left: 100px;
    position: relative;
}

.product_head>.text_1 {
    width: 513px;
    height: 70px;
    font-weight: 500;
    font-size: 56px;
    line-height: 70px;
    color: #000000;
}

.product_head>.text_2 {
    width: 714px;
    height: 75px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
}

.product_head>.text_3 {
    width: 280px;
    height: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #222222;
    position: absolute;
    top: 70px;
    right: 104px;
}

.products {
    margin-top: 60px;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.product_1, .product_2 {
    width: 600px;
    height: 812px;
    border: 1px solid rgba(104, 90, 82, 0.19);
}

.description_product {
    padding: 0 32px;
    padding-right: 52px;
}

.description_product>.text_1 {
    margin-top: 21px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #222222;
}

.description_product>.text_2 {
    margin-top: 16px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
}

.buttons_and_price {
    margin-top: 48px;
    position: relative;
}

.buttons_and_price>.but1 {
    width: 137px;
    height: 56px;
    background: #402F2C;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.buttons_and_price>.but2 {
    width: 162px;
    height: 56px;
    background-color:#ffffff;    
    border: 1px solid rgba(104, 90, 82, 0.46);
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #402F2C;
    margin-left: 24px;
}

.buttons_and_price>.price {
    width: 64px;
    height: 32px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    text-align: right;
    color: #222222;
    margin: 0 auto;
    position: absolute;
    right: -15px;
    top: 10px;
}

/* section 2 */
/* section 3 */

.statistic {
    height: 250px;
    background: #FDF8F5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 330px;
}

.statistic>.block>.top_text {
    text-align: center;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    border-bottom: 3px solid #222222;;
}

.statistic>.block>.bottom_text {
    margin-top: 30px;
    text-align: center;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #555555;
}

.block>.left>.big_text {
    width: 520px;
    height: 140px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 70px;
    color: #000000;
}

.block>.left>.text {
    width: 608px;
    height: 128px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
    margin-top: 20px;
}

.beauty {
    height: 1544px;
}

.beauty>.block {
    margin: 130px 0;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.beauty>.block2 {
    margin: 130px 0;
    display: flex;
    justify-content: center;
    gap: 54px;
}

.beauty>.block2>.right>.amazing {
    margin-top: 30px;
    width: 256px;
    height: 40px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #222222;
}

.beauty>.block2>.right>.stars {
    margin-top: 14px;
    width: 164px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.beauty>.block2>.right>.desc {
    width: 608px;
    height: 128px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
    margin-top: 45px;
    position: relative;
}

.beauty>.block2>.right>.desinger_name {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #222222;
    margin-top: 79px;
}

.beauty>.block2>.right>.desinger {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #555555;
}

.buttons_left_and_right {
    margin-top: 22px;
    width: 84px;
    height: 32px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons_left_and_right>.arrow {
    width: 32px;
    height: 32px;
    border: 1px solid #6FB587;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quates2 {
    position: relative;
    top: -5px;
}

.quates {
    position: absolute;
    top: 0px;
    left: -20px;
}

/* section 4 */
/* section 5 */

footer {
    margin: 0 auto;
    width: 1440px;
    height: 545px;
    background: #FAFAFA;
    padding-top: 105px;
}

#email {
    width: 80px;
}

#but_email {
    background: #402F2C;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    width: 103px;
    height: 40px;
}

.sub {
    width: 386px;
    height: 56px;
    background: #FFFFFF;
    padding-left: 16px;
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.sub_text {
    width: 52px;
    height: 20px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
}

#ps {
    margin: 64px auto 59px auto;
}

.l {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    color: #222222;
}

.foots_up {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foots_bottom {
    display: flex;
    padding: 0 205px;
    justify-content: space-between;
}

.fb_text1 {
    width: 128px;
    height: 30px;
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #222222;
    margin: 0 0;
}

.fb1>.lor {
    margin-top: 38px;
    width: 326px;
    height: 128px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #555555;
}

.fb_text {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 19px;
}

.fb {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.fb>div {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
}

.fb_logos {
    width: 95px;
    display: flex;
    justify-content: space-between;
}

/* section 5 */


